* {
  margin: 0;
  padding: 0;
}
.header {
  font-size: 20px;
}
.nav {
  font-size: 20px;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
  padding: 20px;
  position: absolute;

}
.nav li {
  display: inline;
  min-width: 5em;
  margin: 0 2em;
}
.logoImg {
  float: left;
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
}